
/* Product */

.product-form
{
    background-color: var(--primary1-color);
    margin: 15px;
    margin-right:5px ;
    border: 2px solid #efefef;
 
}
.product-form__heading
{
    font-size: 20px;
    margin: 10px 0 0 15px;
}
.product-form__table
{
    margin: 30px 15px 15px 15px;
}
.product-form__table-mobile
{
    margin: 30px 15px 15px 15px;
    display: none;
}
.product-show
{
    flex-grow: 1;
    background-color: var(--primary1-color);
    margin: 15px;
    margin-left:5px ;
    border: 2px solid #efefef;
}
.product-show__heading{
    font-size: 20px;
    margin: 10px 0 0 15px;
}
.product-show__table
{
    margin: 30px 15px 15px 15px;
}
.product-edit
{
    flex-grow: 1;
    background-color: var(--primary1-color);
    margin: 15px;
    margin-left:5px ;
    border: 2px solid #efefef;
}
.product-edit__heading{
    font-size: 20px;
    margin: 10px 0 0 15px;
}
.product-edit__table
{
    margin: 30px 15px 15px 15px;
}
/**/
.product_descrip
{
    font-size: 15px;
    padding: 10px 10px;
    resize: none;
}
.product_descrip-edit
{
    font-size: 15px;
    padding: 10px 10px;
    resize: none;
}
.back
{
    background-color: var(--primary2-color);
    color: var(--primary1-color);
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 2px;
}
.back-link
{
    text-decoration: none;
    color: var(--primary1-color);
}
