.Product
{
    display: block;
    cursor: pointer;
    height: var(--height-product);
    position: relative;
    top:0;
    transition: top ease 0.1s ;
    text-decoration: none;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 20%);
    margin: 15px 10px;
    max-width: 350px;
}
.Product:hover
{
    top: -3px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0,0.05);

}
   
.Product:hover .product__top-move{
    display: block;
}
.Product:hover .product__top-size    
{
    display: flex;
}
.Product:hover .product__bot-detail
{
    display: flex;
}


/* top */
.product__top
{
    
    background-color: var(--primary1-color);
    height: calc(var(--height-product) - 130px);
    position: relative;
}
.product__top-img
{
    height: 100%;
    width: 100%;
   
}
.product__top-sale
{
    display: flex;
    align-items: center;
    color: var(--primary2-color);
    font-size: 16px;
    font-weight: 600; 
}
.new
{ 
    position: absolute;  
    top: 20px;
    left: 20px;
   
}
.sale{
    position: absolute; 
    top: 20px;
    right: 20px;
}

/* bottom */
.product__bot-name
{
    text-align: center;
    margin: 15px 0 10px 0 ;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 40px;
}
.product__bot-price
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.price-new
{
    background-color: var(--primary2-color);
    color: var(--primary1-color);
    font-size: 16px;
    height: 30px;
    width: 93px;
    font-weight: 600;
    border-radius: 2px;
}
.price-old
{
    background-color: var(--primary1-color);
    text-decoration: line-through;
    color: #939393;
    border: none;
}
.product__bot-detail
{
    margin-top: 5px;
    height: 25px;
    background-color: var(--primary2-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    
}
.cart
{
    text-decoration: none;
}
.cart-icon
{
    color: var(--primary1-color);
    font-size: 13px;
    margin-right: 5px;
}
.cart-text
{
    color: var(--primary1-color);
    font-size: 13px;
}
.arow
{
    background-color: var(--primary1-color);
    height: 25px;
    width: 1px;
}
.detail
{
    text-decoration: none;
}
.detail-icon
{
    color: var(--primary1-color);
    font-size: 13px;
    margin-right: 5px
}
.detail-text
{
    color: var(--primary1-color);
    font-size: 13px;
}
@media only screen and (max-width: 740px){
    .Product{
        min-width: 280px;
        
    }
    
 }
 
 @media only screen and (min-width: 740px) and (max-width: 1030px){
    .Product{
        max-width: 330px;
        min-width: 300px;
    }
 }
 