.list-location {
    padding: 10px 0px 0px 20px;
}
.list-location a {
    text-decoration: none;
    color: black;
}
.list-location ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.list-location li {
    padding: 0px 5px 0px 5px;
}
.list-location-2 {
    color: #777;
}
.cart-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 30px 20px 30px 20px;
    font-family: 'Montserrat';
}
.cart {
    width: 60%;
    padding: 0px 0px 0px 100px;
}
.cart-calculate {
    width: 30%;
    background: #f2f2f2;
    padding: 15px;
}
.buycart {
    cursor: pointer;
    font-family: 'Montserrat';
    padding: 10px 30px;
    position: relative;
    width: 100%;
    white-space: nowrap;
    float: left;
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    transition: opacity .15s linear,color .15s linear,background .15s linear;
}
.title-cart-calculate {
    font-weight: 700;
    padding-bottom: 20px;
}
.cart-infor-1 {
    padding-bottom: 20px;
}
.cart-infor-2 {
    padding-bottom: 20px;
}
.cart-totalprice {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.totalprice {
    background-color: #f2f2f2;
    border: none;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat';
    text-align: right;
    width: 100%;
}
.cart-totalprice span {
    font-weight: 700;
}
/* Điện thoại thông minh */
@media (max-width: 768px) {
   .cart-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px;
   }
   .cart {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
   }
   .cart-calculate {
        width: 100%;
   }
   .content {
        padding: 0;
        width: 100%;
   }
   .cart-calculate span {
        font-size: 2vh;
   }
}
/* Các thiết bị nhỏ, máy tính bảng */
@media (min-width: 768px) and (max-width:992px) {
   .content {
        padding: 10px;
   }
   .cart {
        padding: 0;
   }
   .cart-wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
   }
   .cart-calculate {
        width: 100%;
   }
}

/* Các thiết bị trung bình */
@media (min-width: 992px) and (max-width:1200px) {
    .content {
        padding: 10px;
   }
   .cart {
        padding: 0;
        width: 65%;
   }
   .cart-wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
   }
   .cart-calculate {
    width: 35%;
    }
}