.payment-wrapper {
    display: flex;
    flex-direction: column;
    /* font-family: 'Montserrat'; */
    margin-bottom: 100px;
}
.pay-wrap {
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    /* font-family: 'Montserrat'; */
    display: flex;
    flex-direction: row;
}
.section-header {
    padding-bottom: 20px;
}
.customer-name, .customer-mail, .customer-phone, .customer-address, .customer-note, .address-order {
    border: solid 1px #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 0 8px;
    position: relative;
    width: 100%;
} 
.cus-infor input {  
    border: none;
    font-size: 16px;
    outline: 0;
    padding: 16px 0 10px;    
    width: 100%;
}
.cus-infor label {
    font-size: 12px;
    position: absolute;
    top: -8px;
    left: 10px;
    background: white;
}
.customer-mail-phone {
    display: flex;
    flex-direction: row;
}
.space-mail-phone {
    width: 20px;
}
.cus-note {
    font-size: 16px;
    outline: 0;
    padding: 16px 0 10px;    
    width: 100%;
    border: none;
}
.customer-pay-type {
    padding: 10px 0;
}
.customer-pay-type h3 {
    padding-bottom: 10px;
}
.customer-radio1, .cus-radio2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 10px 15px 20px;

}
.customer-radio2 {
    border-top: 1px solid #d9d9d9;
}
.radio-title {
    padding-left: 10px; 
    font-weight: 600;
    font-size: 16px;
}
.customer-pay {
    box-shadow: 0 0 0 1px #d9d9d9;
    border-radius: 4px;
    background: #fff;
    color: #737373;
}
.ATM-infor {
    padding-top: 10px;
    text-align: center;
}
.pay-col1 {
    width: 50%;
    padding: 30px;
}
.pay-col2 {
    width: 50%;
    box-shadow: 1px 0 0 #e1e1e1 inset;
    padding: 20px 10px 10px 30px;
}
.orderbutton {
    /* font-family: 'Montserrat'; */
    width: 50%;
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
    padding: 1.4em 1.7em;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
}
.orderbutton:hover {
    background-color: #484848;
    box-shadow: 5px 10px 8px #a4a2a2;
}
.ship-fee h2 {
    font-size: 30px;
}
.ship-fee span, .total-fee span {
    font-size: 15px;
    font-weight: 400;
}
.total-fee h2 {
    font-size: 30px;
}
.ship-fee, .total-fee {
    border-radius: 5px;
    margin-bottom: 10px;
}
.ship, .total {
    padding-left: 30px;
}
.pay-orderinfor {
    border: 2px solid #000000;
    border-radius: 5px;
}
.pay-orderinfor h2 {
    padding: 20px;
}
.order-fee {
    margin-top: 20px;
}
.order-id, .order-state {
   padding-left: 30px;
}
.cancelorder {
    display: flex;
    justify-content: right;
}
.cancelbutton {
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(246, 55, 55);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.cancelbutton:hover {
    background-color: rgb(82, 64, 64);
}
.order-address {
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
}
.order-address-wrapper {
    padding: 10px;
}

/* Điện thoại thông minh */
@media (max-width: 768px) {
    .pay-wrap {
        flex-direction: column;
    }
    .pay-col1 {
        width: 100%;
    }
    .pay-col2 {
        width: 100%;
    }
    .ATM-infor {
        font-size: 14px;
    }
    .content__3 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
 }
 /* Các thiết bị nhỏ, máy tính bảng */
 @media (min-width: 768px) and (max-width:992px) {
    .orderinfor-item-img {
        width: 30%;
    }
    .orderinfor-item-name {
        font-size: 8px;
        width: 20%;
    }
    .orderinfor-item-price {
        font-size: 8px;
        width: 10%;
    }
    .orderinfor-item-size {
        font-size: 8px;
        width: 10%;
    }
    .orderinfor-item-num {
        font-size: 8px;
        width: 20%;
    }
 }
 
 /* Các thiết bị trung bình */
 @media (min-width: 992px) and (max-width:1200px) {
    .orderinfor-item-img {
        width: 30%;
    }
    .orderinfor-item-name {
        font-size: 10px;
        width: 20%;
    }
    .orderinfor-item-price {
        font-size: 10px;
        width: 10%;
    }
    .orderinfor-item-size {
        font-size: 10px;
        width: 10%;
    }
    .orderinfor-item-num {
        font-size: 10px;
        width: 20%;
    }
 }